@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">

    <h2> Cel projektu </h2>
    <p align="justify">
        Aby Internet stał się pomocny osobom starszym, niewidomym czy niepełnosprawnym i nie czuli się oni wykluczeni społecznie i
        cyfrowo stworzyliśmy stronę internetową, która ma pomóc takim osobom znaleźć w sieci „przyjazną dłoń” w potrzebie.
        Będzie ona wskazywała miejsca najbardziej popularne w mieście Jarosław, które są przystosowane do wizyty takich osób,
        tak żeby mieli oni pewność, że uda im się załatwić daną sprawę bez pomocy innych osób pomoc, ponieważ tej tak bardzo brakuje w dzisiejszym świecie.
        Problemem, na który zwróciliśmy uwagę jest brak w niektórych miastach przystosowania budynków dla osób niepełnosprawnych. Coraz częściej są
        dofinansowania i plany na modernizację istniejących już instytucji tak, żeby były one przystosowane dla swobodnego poruszania się osób niepełnosprawnych
        , ale jednak ciągle w starszych miastach, gdzie są kamienice, obiekty te nie są odpowiednio przystosowane. Zdecydowaliśmy się na stworzenie strony
        internetowej dla miasta Jarosław, gdzie będą wypisane wszystkie obiekty i placówki w których można załatwić ważne sprawy wraz z informacją jak
        przystosowany jest ten obiekt do wizyty takich osób. Czy posiada ruchome schody, windę, podjazdy dla osób niepełnosprawnych, miejsce parkingowe
        tak aby osoba z zamiarem udania się do takiej placówki miała pewność, że może samodzielnie załatwić daną sprawę a nie prosić oto inne osoby co może być dla niej wstydiwe i niekomfortowe.
    </p>
    <p><a class="btn btn-default" href='@Url.Action("Index","Places")'>Miejsca &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Internet jako pierwszy krok do niezależności</h2>
        <p align="justify">
            Ludzie starsi niestety coraz częsciej muszą nauczyć się niezależności. Ale nie tylko osoby starsze, mowa też tutaj o
            osobach niepełnosprawnych, niewidomych, które są nastawione na tą niezależność czasem nawet nie chcą żeby ktoś im pomagał. Spotkanie
            z osobą niewidomą to dla wielu ludzi powód do obaw. Strach przed niewłaściwym zachowaniem, popełnieniem gafy czy urażeniem, nie pozwala
            nam skupić się na drugiej osobie, która pragnie słuchać i być słuchana jak każdy inny człowiek. Osoby niewidome podobnie jak słabowidzące
            przy wykonywaniu czynności bazują na słuchu, węchu, dotyku i smaku, ze względu na to, że nawet w niewielkim stopniu zachowana sprawność
            wzroku nie może spełniać funkcji kontrolującej ani orientacyjnej w otoczeniu.
        </p>
        </p>
        <p><a class="btn btn-default" href="https://www.integralia.pl/porada-kandydat/przedmioty-i-aplikacje-dla-niepelnosprawnych/">Dowiedz się więcej &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Korzyści</h2>
        <p align="justify">
            Jedną z najczęściej wymienianych korzyści w korzystaniu z Internetu jest dostęp do informacji i wiedzy.
            Jak było powiedziane wcześniej, Internet zmienia sposób konsumpcji innych mediów. W wielu przypadkach jest to zmiana świadoma i celowa.
            Dzięki Internetowi mogą nie tylko dowiedzieć się więcej, ale również zapoznawać się z rzeczami, które ich bardziej interesują.
            Wydaje się, że Internet zmienił ekonomię zdobywania informacji: poświęca się więcej czasu, ale na rzeczy, które nas interesują.
            Szczególnie dla najstarszych użytkowników po 65 roku życia Internet ma bardzo pozytywny wpływ na samopoczucie.
            Ludzie starsi coraz częściej zaczynają uczyć się Internetu, właśnie dlatego, że chcą pokazać, że jeszcze mogą.
            Udowodnić to głównie sobie. Zwiększa się ich wiara we własne możliwości.
        </p>
        <p><a class="btn btn-default" href="https://szafranek.net/blog/2004/02/13/accessibilitylaw/">Dowiedz się więcej &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Internet dla niewidomych i słabowidzących</h2>
        <p align="justify">
            Dostęp do informacji ma duże znaczenie dla wszystkich ludzi, ale szczególnie ważny jest on dla osób niepełnosprawnych,
            zwłaszcza niewidomych i słabowidzących z uwagi na trudności, z jakimi spotykają się takie osoby w różnych sytuacjach życiowych.
            Wspomniane trudności spowodowane są przede wszystkim przez ograniczenia w dostępie do informacji wizualnej.
            Ta forma informacji ma podstawowe znaczenie dla ludzi widzących, ponieważ wzrok jest najważniejszym kanałem odbioru informacji.
            Rozmaite badania pokazują, iż za jego pośrednictwem do mózgu człowieka dociera ponad 80 procent informacji.
            Brak wzroku albo jego uszkodzenie uniemożliwia lub poważnie ogranicza korzystanie z tego kanału informacyjnego,
            a tym samym stwarza bariery w dostępie do informacji.
            <br /> <br />
            Dzięki niezwykłemu rozwojowi technologii informacyjno-komunikacyjnych, w szczególności Internetu, udaje się w znacznym stopniu usunąć owe bariery.
            Bardzo ważną rolę w tym zakresie odgrywają środki techniczne. Pojawiło się wiele urządzeń oraz rozwiązań technologicznych,
            które umożliwiają likwidowanie wspomnianych barier. Można tu wymienić: mowę syntetyczną, czytniki ekranowe, programy powiększające
            elementy widoczne na ekranie, brajlowskie terminale komputerowe i wiele innych.
            Wszystkie one umożliwiają lub przynajmniej ułatwiają osobom z niepełnosprawnością wzroku dostęp do zasobów Internetu oraz oferowanych w nim usług.
        </p>
        <p><a class="btn btn-default" href="http://trakt.org.pl/czym-dla-niewidomych-i-slabowidzacych-jest-internet-czeslaw-slusarczyk/">Dowiedz się więcej &raquo;</a></p>
    </div>

</div>